<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>644356067391-6lfkml2ojulo5auuo99dec1qceo1aqt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644356067391-6lfkml2ojulo5auuo99dec1qceo1aqt8</string>
	<key>API_KEY</key>
	<string>AIzaSyAMuK-VRJ30gtss69q0VusdIpG_zc5Xfpk</string>
	<key>GCM_SENDER_ID</key>
	<string>644356067391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.mfelipesp</string>
	<key>PROJECT_ID</key>
	<string>grocr-62d78</string>
	<key>STORAGE_BUCKET</key>
	<string>grocr-62d78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644356067391:ios:b8458363ffac229d</string>
	<key>DATABASE_URL</key>
	<string>https://grocr-62d78.firebaseio.com</string>
</dict>
</plist>